{#
/**
 * Template for altering how the quantity pricing dropdown options are formatted.
 * Available variables:
 *
 * quantity - The quantity required for the price.
 * price - The price set for that quantity.
 * currency - Currency code for the price.
 */
#}

{{ quantity }} - {{ price }} {{ currency }}
